<div style="padding: 13px;">
  <span *ngIf="userStats === null">
    <div class="wrapper">
      <mat-spinner color="warn"></mat-spinner>
    </div>
    <div class="wrapper">
      <h3 style="margin-top:10px; color: #F44336;">Sending Request</h3>
    </div>
  </span>

  <span *ngIf="userStats !== null">
    <div>
        <h2 style="text-align:center;">Hour zone with maximum sales</h2>
        <h2 style="text-align:center;color: #673AB7;">{{userStats.HourZonewithmaximumsales}}:00 - {{nexthour}}:00</h2>
    </div>

    <div style="margin:25px;">
      <h2 style="text-align:center;">Percentages of Consumerism per Hour Zone and Age group</h2>
    </div>
    <div style="margin:25px;">
    <table mat-table [dataSource]="userStats.PercentagesperAgeandHourZone" class="mat-elevation-z8">

        <ng-container matColumnDef="Hour">
          <th mat-header-cell *matHeaderCellDef>Hour Zone</th>
          <td mat-cell *matCellDef="let element"> {{element.HourZone}}:00 - * </td>
        </ng-container>

        <ng-container matColumnDef="Young">
          <th mat-header-cell *matHeaderCellDef> Young </th>
          <td mat-cell *matCellDef="let element"> {{element.YoungPercentages}} % </td>
        </ng-container>
      
        <ng-container matColumnDef="Middle">
          <th mat-header-cell *matHeaderCellDef> Middle Aged </th>
          <td mat-cell *matCellDef="let element"> {{element.MiddlePercentages}} % </td>
        </ng-container>

        <ng-container matColumnDef="Elder">
          <th mat-header-cell *matHeaderCellDef> Elderly </th>
          <td mat-cell *matCellDef="let element"> {{element.ElderPercentages}} % </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </span>
</div>


