<div style="padding: 13px;">
  <span *ngIf="prodStats === null">
    <div class="wrapper">
      <mat-spinner color="warn"></mat-spinner>
    </div>
    <div class="wrapper">
      <h3 style="margin-top:10px; color: #F44336;">Sending Request</h3>
    </div>
  </span>

  <span *ngIf="prodStats !== null">
    <h2 style="text-align:center;">Top Products Pairs</h2>
    <div style="margin:25px;">
    <table mat-table [dataSource]="prodStats.TopProductsPairs" class="mat-elevation-z8">
  
        <ng-container matColumnDef="Barcode1">
          <th mat-header-cell *matHeaderCellDef> First Barcode </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstBarcode}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Name1">
          <th mat-header-cell *matHeaderCellDef> First Product</th>
          <td mat-cell *matCellDef="let element"> {{element.FirstProductName}} {{element.FirstBrandName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Barcode2">
          <th mat-header-cell *matHeaderCellDef> Second Barcode </th>
          <td mat-cell *matCellDef="let element"> {{element.SecondBarcode}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Name2">
          <th mat-header-cell *matHeaderCellDef> Second Product </th>
          <td mat-cell *matCellDef="let element"> {{element.SecondProductName}} {{element.SecondBrandName}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsT1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsT1;"></tr>
    </table>
    </div>
  
    <div style="margin:25px;">
    <h2 style="text-align:center;">Top Products Placements</h2>
    </div>
  
    <div style="margin:25px;">
    <table mat-table [dataSource]="prodStats.TopProductsPlacements" class="mat-elevation-z8">
  
        <ng-container matColumnDef="Alley">
          <th mat-header-cell *matHeaderCellDef> Alley Number </th>
          <td mat-cell *matCellDef="let element"> {{element.AlleyNumber}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Shelf">
          <th mat-header-cell *matHeaderCellDef> Shelf Number</th>
          <td mat-cell *matCellDef="let element"> {{element.SelfNumber}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsT2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsT2;"></tr>
    </table>
    </div>
  
    <div style="margin:25px;">
    <h2 style="text-align:center;">DataStore Brand Success</h2>
    </div>
  
    <div style="margin:25px;">
    <table mat-table [dataSource]="prodStats.DatastoreBrandSuccess" class="mat-elevation-z8">
  
        <ng-container matColumnDef="CatID">
          <th mat-header-cell *matHeaderCellDef> Category ID </th>
          <td mat-cell *matCellDef="let element"> {{element.CategoryId}} </td>
        </ng-container>
      
        <ng-container matColumnDef="CatName">
          <th mat-header-cell *matHeaderCellDef> Category Name</th>
          <td mat-cell *matCellDef="let element"> {{element.CategoryName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Percent">
            <th mat-header-cell *matHeaderCellDef> Category Name</th>
            <td mat-cell *matCellDef="let element"> {{element.Percentage}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsT3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsT3;"></tr>
    </table>
    </div>
  </span>  
</div>