<div style="padding: 13px;">
    <div>
        <h1 class="my-title">Our Stores</h1>
        <p class="my-subtitle">Explore DataStore</p>
    </div>

    <mat-spinner *ngIf="stores === null"></mat-spinner>

    <div fxLayout="row wrap" fxLayoutGap="13px" fxLayoutAlign="flex-start" class="cardList">
        <mat-card *ngFor="let store of stores" class="cardListItem">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="avatar">local_grocery_store</mat-icon> 
                </div>
                <mat-card-title><h1>{{store.City}}</h1></mat-card-title>
                    <mat-chip-list #chipList [disabled]="true">
                        <mat-chip [disabled]="true">
                            <mat-icon>label</mat-icon>
                            <div style="font-size:16px;margin-left:5px">Store Id: {{store.StoreId}}</div>
                        </mat-chip>
                    </mat-chip-list>
            </mat-card-header>
            <mat-card-actions>
                <button [routerLink]="['storepage', store.StoreId]" mat-raised-button color="primary">Visit store</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-fab color="matblack">
        <mat-icon>add</mat-icon>
    </button>
</div>
