<div style="padding: 13px;">
    <div>
        <h1 class="my-title">Our Stores</h1>
        <p class="my-subtitle">Explore DataStore</p>
    </div>

    <mat-spinner *ngIf="stores === null"></mat-spinner>

    <div fxLayout="row wrap" fxLayoutGap="13px" fxLayoutAlign="flex-start" class="cardList">
        <mat-card *ngFor="let store of stores" class="cardListItem">
            <mat-card-header>
                <mat-card-title><h1>{{store.City}}</h1></mat-card-title>
                <mat-card-subtitle>Store Id: {{store.StoreId}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button [routerLink]="['storepage', store.StoreId]" mat-raised-button color="primary">Visit store</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
