.my-title {
    margin-top:50px;
    text-align:center;
    font-size: 60px;
    color: #673AB7;
}
.my-subtitle {
    margin-bottom:62px;
    font-size: 25px;
    text-align:center;
    color: #9E9E9E;
}
.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
    box-sizing: border-box;
}
.cardList > *:not(:last-child) {
    margin-right: 13px;
}
/* Item sizing */
.cardListItem {
    margin-top:13px;
    flex: 0 1 calc(33.3% - 13px);
}

.mat-matblack {
    background-color: #00BCD4;
    color: #000000;
    right: 40px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.avatar {
    transform: scale(2.5);
    margin-left:5px;
    margin-top:5px;
  }