<div style="padding: 13px;">
    <span *ngIf="user === null">
        <div style="margin-top:200px">
            <div class="wrapper">
                <mat-spinner color="warn"></mat-spinner>
              </div>
              <div class="wrapper">
                <h3 style="margin-top:10px; color: #F44336;">Sending Request</h3>
              </div>
        </div>
    </span>
    <mat-card *ngIf="user !== null">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="avatar">account_circle</mat-icon> 
            </div>
            <mat-card-title>
                {{user.FirstName}} {{user.LastName}}
            </mat-card-title>
            <mat-card-subtitle>Card Number: {{user.CardNumber}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
              <mat-chip-list #chipList [disabled]="true">
                <mat-chip>
                    <mat-icon>calendar_today</mat-icon> 
                    <div style="margin-left:5px;">{{user.DateOfBirth}}</div>
                </mat-chip>
                <mat-chip>{{user.Sex}}</mat-chip>
                <mat-chip>
                    <mat-icon>home</mat-icon> 
                    <div style="margin-left:5px;">{{user.AddressStreet}} {{user.AddressNumber}}, {{user.AddressCity}} {{user.AddressPostalCode}}</div>
                </mat-chip>
                <mat-chip>
                    <mat-icon>mail_outline</mat-icon> 
                    <div style="margin-left:5px;">{{user.Email}}</div>
                </mat-chip>
                <mat-chip>
                    <mat-icon>phone</mat-icon>
                    <div style="margin-left:5px;">{{user.PhoneNumber}}</div>
                </mat-chip>
                <mat-chip>{{user.MaritalStatus}}</mat-chip>
                <mat-chip>
                    <mat-icon>child_friendly</mat-icon>
                    <div style="margin-left:5px;">{{user.NumberOfChildren}}</div>
                </mat-chip>
                <mat-chip>
                    <mat-icon>star</mat-icon>
                    <div style="margin-left:5px;">{{user.Points}}</div>
                </mat-chip>
              </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
            <div class="button-row">
                <span *ngIf="show_user_info===false">
                    <button mat-raised-button (click)="onClickMe()" class="zoom">
                        <div style="color:#673AB7">User Info</div>
                    </button>
                </span>
                <span *ngIf="show_user_info===true">
                    <button mat-raised-button disabled>User Info</button>
                </span>
                <button mat-mini-fab color="primary" class="zoom">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-mini-fab color="matblack" class="zoom">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
<app-user-info *ngIf="show_user_info === true"></app-user-info>