.button-row {
    display: table-cell;
}
  
.button-row button {
    display: table-cell;
    margin-right: 13px;
}
.mat-matblack {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.avatar {
  transform: scale(2.5);
  margin-left:5px;
  margin-top:5px;
}