<div style="padding: 13px;">
    <mat-card >
        <mat-card-header>
            <mat-card-title><h1>{{product.Barcode}}</h1></mat-card-title>
            <mat-card-subtitle>Product Name:        {{product.ProductName}}</mat-card-subtitle>
            <mat-card-subtitle>Product Brand Name:  {{product.ProductBrandName}}</mat-card-subtitle>
            <mat-card-subtitle>Price:               {{product.Price}}</mat-card-subtitle>
            <mat-card-subtitle>Category ID:         {{product.CategoryId}}</mat-card-subtitle>
            <mat-card-subtitle>Category Name:       {{product.CategoryName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
