<div style="padding: 13px;">
    <span *ngIf="product === null">
        <div style="margin-top:200px">
            <div class="wrapper">
                <mat-spinner color="warn"></mat-spinner>
              </div>
              <div class="wrapper">
                <h3 style="margin-top:10px; color: #F44336;">Sending Request</h3>
              </div>
        </div>
    </span>
    <mat-card *ngIf="product !== null">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="avatar">local_mall</mat-icon> 
            </div>
            <mat-card-title><h1>{{product.ProductName}} {{product.ProductBrandName}}</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content style="margin-top:15px">
            <mat-chip-list #chipList [disabled]="true">
                <mat-chip>
                    <mat-icon>qr_code</mat-icon> 
                    <div style="margin-left:5px;">{{product.Barcode}}</div>
                </mat-chip>
                <mat-chip>
                    <mat-icon>local_offer</mat-icon> 
                    <div style="margin-left:5px;">{{product.Price}} €</div>
                    </mat-chip>
                <mat-chip>
                    <mat-icon>category</mat-icon> 
                    <div style="margin-left:5px;">{{product.CategoryName}} ({{product.CategoryId}})</div>
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
      
        <mat-card-actions>
            <div class="button-row">
                <span *ngIf="show_price_history===false">
                    <button mat-raised-button (click)="onClickMe()" class="zoom">
                        <div style="color:#673AB7">Show Price History</div>
                    </button>
                </span>
                <span *ngIf="show_price_history===true">
                    <button mat-raised-button disabled>Show Price History</button>
                </span>
                <button mat-mini-fab color="accent" class="zoom" (click)="openPriceDialog()">
                    <mat-icon>local_offer</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="zoom" (click)="openDialog()">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-mini-fab color="matblack" class="zoom" (click)="openDeleteDialog()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
<app-price-history *ngIf="show_price_history === true"></app-price-history>
