<div style="padding: 13px;">
    <mat-spinner *ngIf="users === null"></mat-spinner>

    <mat-card *ngFor="let user of users" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{user.FirstName}} {{user.LastName}}</mat-card-title>
            <mat-card-subtitle>User ID: {{user.CardNumber}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.Email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button [routerLink]="['profile', user.CardNumber]" mat-raised-button color="primary">View User Profile</button>
        </mat-card-actions>
    </mat-card>
</div>
