<div style="padding: 13px;">
    <div>
        <h1 class="my-title">Our Users</h1>
        <p class="my-subtitle">Datastore. Where privacy is everything</p>
    </div>

    <span *ngIf="users === null">
        <div class="wrapper">
          <mat-spinner color="warn"></mat-spinner>
        </div>
        <div class="wrapper">
          <h3 style="margin-top:10px; color: #F44336;">Sending Request</h3>
        </div>
    </span>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="flex-start" class="cardList">
        <mat-card *ngFor="let user of users" class="cardListItem">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="avatar">account_circle</mat-icon> 
                </div>
                <mat-card-title>{{user.FirstName}} {{user.LastName}}</mat-card-title>
            </mat-card-header>

            <mat-card-content style="margin-top:15px;">
                <mat-chip-list  class="mat-chip-list-stacked" [disabled]="true">
                    <mat-chip>
                        <mat-icon>fingerprint</mat-icon> 
                        <div style="margin-left:5px;">Card Number: {{user.CardNumber}}</div>
                    </mat-chip>
                    <mat-chip>
                        <mat-icon>mail_outline</mat-icon> 
                        <div style="margin-left:5px;">{{user.Email}}</div>
                    </mat-chip>
                </mat-chip-list>
            </mat-card-content>

            <mat-card-actions>
                <button [routerLink]="['profile', user.CardNumber]" mat-raised-button color="primary" class="zoom">View User Profile</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-fab color="matblack" class="zoom-fab" routerLink="./insert">
        <mat-icon>add</mat-icon>
    </button>
</div>
