<div style="padding: 13px;">
    <mat-card >
        <mat-card-header>
            <mat-card-title><h1>{{storepage.AddressCity}}</h1></mat-card-title>
            <mat-card-subtitle>Address: {{storepage.AddressStreet}} {{storepage.AddressNumber}}, {{storepage.AddressCity}}</mat-card-subtitle>
            <mat-card-subtitle>Postal code: {{storepage.AddressPostalCode}}</mat-card-subtitle>
            <mat-card-subtitle>Size: {{storepage.Size}} square meters</mat-card-subtitle>
            <mat-card-subtitle>Working Hours: Monday-Friday / {{storepage.OpeningHour}} - {{storepage.ClosingHour}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
