<div style="padding: 13px;">
    <mat-card >
        <mat-card-header>
            <mat-card-title><h1>{{storepage.AddressCity}}</h1></mat-card-title>
            <mat-card-title>Address: {{storepage.AddressStreet}} {{storepage.AddressNumber}}</mat-card-title>
            <mat-card-title>Postal code: {{storepage.AddressPostalCode}}</mat-card-title>
            <mat-card-title>Size: {{storepage.Size}} square meters</mat-card-title>
            <mat-card-title>Working Hours: M-F / {{storepage.OpeningHour}} - {{storepage.ClosingHour}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
