<div style="padding: 13px;">
    <mat-card >
        <mat-card-header>
            <mat-card-title><h1>{{storepage.AddressCity}}</h1></mat-card-title>
            <mat-card-subtitle>Address: {{storepage.AddressStreet}} {{storepage.AddressNumber}}, {{storepage.AddressCity}}</mat-card-subtitle>
            <mat-card-subtitle>Postal code: {{storepage.AddressPostalCode}}</mat-card-subtitle>
            <mat-card-subtitle>Size: {{storepage.Size}} square meters</mat-card-subtitle>
            <mat-card-subtitle>Working Hours: Monday-Friday / {{storepage.OpeningHour}} - {{storepage.ClosingHour}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
<mat-form-field color="accent">
    <mat-label>Starting Date</mat-label>
    <input matInput [matDatepicker]="picker1" (dateChange)="startingDateChange($event.value)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field color="accent">
    <mat-label>Ending Date</mat-label>
    <input matInput [matDatepicker]="endDate" (dateChange)="endingDateChange($event.value)">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <mat-label>Payment Method</mat-label>
    <mat-select [(value)]="paymentMethod" (selectionChange)="paymentMethodChange()">
        <mat-option *ngFor="let pm of payment" [value]="pm">
            {{pm}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Lowest Products' Threshold</mat-label>
    <input matInput type="number" min="0" max="100" #boxl (change)="setLow(boxl.value)" (keyup)="setLow(boxl.value)">
</mat-form-field>

<mat-form-field>
    <mat-label>Highest Products' Threshold</mat-label>
    <input matInput type="number" min="0" max="100" #boxh (change)="setHigh(boxh.value)" (keyup)="setHigh(boxh.value)">
</mat-form-field>